<launch>

  <node name="hokuyo" pkg="hokuyo_node" type="hokuyo_node">
    <param name="port" type="string" value="/dev/serial/by-id/usb-Hokuyo_Data_Flex_for_USB_URG-Series_USB_Driver-if00"/>
  </node>

  <node pkg="tf" type="static_transform_publisher" name="lidar_frame" args="0.325 0 0 0 0 0 /base_link /laser 50" />

  <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping">
    <rosparam file="$(find navigation_step)/config/gmapping_params.yaml" command="load" />
    <!-- <remap from="scan" to="base_scan"/>-->
  </node>

</launch>
